# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user

# VB2008
Debug/
ipch/
Release/
_UpgradeReport_Files/
*.css
*.ipch
*.xslt
*.old
*.xml
*.XML
*.gif
*.log
*.tlog
*.pdb
*.htm
*.cache
*.rc
*.idb
*.dep
*.manifest
*.lastbuildstate


